@import '~@angular/material/theming';
@import "hexagon-red";

@include mat-core();

$hexagon-primary: mat-palette($md-hexagon-red);
$hexagon-accent: mat-palette($md-hexagon-red, A200, A100, A400);
$hexagon-warn: mat-palette($mat-red);
$hexagon-theme: mat-light-theme($hexagon-primary, $hexagon-accent, $hexagon-warn);

@include angular-material-theme($hexagon-theme);
