<div id="login-content">
  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="0 0 1000 1000"
       id="login-background">
    <polygon points="0,0 1000,0 0,1000" style="fill:black;"></polygon>
  </svg>

  <mat-card id="login-card">
    <h2 mat-card-title>Login</h2>
    <mat-form-field appearance="standard">
      <input matInput type="email" placeholder="E-mail" name="Email" [formControl]="userEmail" #email>
      <mat-error *ngIf="userEmail.invalid">{{getFormError(userEmail)}}</mat-error>
    </mat-form-field>
.
    <mat-form-field appearance="standard">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="userPass" #password>
      <mat-icon matSuffix (click)="hide = !hide" style="cursor:pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="userPass.invalid">{{getFormError(userPass)}}</mat-error>
    </mat-form-field>

    <div id="login-btn-container">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <div id="login-btn-or">or</div>
      <button mat-raised-button color="accent" (click)="loginWithGoogle()">Sign in with Google</button>
    </div>
  </mat-card>
</div>
