<footer>
  <div id="footer-content">
    <p id="p-left">Don Diablo Music Library</p>
    <div id="social">
      <a href="https://www.instagram.com/dondiablo/" target="_blank">
        <img src="../../../assets/img/instagram.svg"/>
      </a>
      <a href="https://www.facebook.com/OfficialDonDiablo/" target="_blank">
        <img src="../../../assets/img/facebook.svg"/>
      </a>
      <a href="https://twitter.com/dondiablo" target="_blank">
        <img src="../../../assets/img/twitter.svg"/>
      </a>
      <a href="https://www.youtube.com/user/DonDiablo" target="_blank">
        <img src="../../../assets/img/youtube.svg"/>
      </a>
    </div>
    <p id="p-right">Copyright &copy; {{currentYear}} Jawel!</p>
  </div>
</footer>
