<mat-card>
  <div id="openPopup" (click)="openDialog()">
    <mat-card-header>
      <mat-card-title>{{ song.title }}</mat-card-title>
      <mat-card-subtitle>{{ song.artist }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         [src]="song.image"
         alt="{{ song.title }}"
         class="img-responsive"/>
  </div>

  <mat-basic-audio-player [audioUrl]="song.preview"></mat-basic-audio-player>
  <mat-card-actions>
    <button mat-button id="buybtn" (click)="buySong(song)">Buy Song ({{song.price | currency: '$'}})</button>
  </mat-card-actions>
</mat-card>
