<img
  [src]="data.image"
  alt="{{ data.title }}"
  class="img-responsive"/>


<div>
  <div id="title">
    <h3>{{ data.title }}</h3>
    <h4>{{ data.artist }}</h4>
  </div>

  <table id="info">
    <tr>
      <td>Genre:</td>
      <td>{{ data.genre }}</td>
    </tr>
    <tr>
      <td>Duration:</td>
      <td>{{ data.duration }}</td>
    </tr>
    <tr>
      <td>Tags:</td>
      <td>{{ data.tags }}</td>
    </tr>
    <tr>
      <td>Speed:</td>
      <td>{{ data.speed }} BPM</td>
    </tr>
    <tr>
      <td>Key:</td>
      <td>{{ data.key }}</td>
    </tr>
    <tr>
      <td>Extra Info:</td>
      <td>{{ data.extraInfo }}</td>
    </tr>
  </table>

<!--    <p>Genre: {{ data.genre }}</p>-->
<!--    <p>Duration:  {{ data.duration }}</p>-->
<!--    <p>Tags: {{ data.tags }}</p>-->
<!--    <p>Speed: {{ data.speed }} BPM</p>-->
<!--    <p>Key: {{ data.key }}</p>-->
<!--    <p>Extra Info: {{ data.extraInfo }}</p>-->

</div>

